# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Echosystem are summarized.

<b>Objectives:</b>

- Review popular languages used in Data Science
- Review common libraries used in Data Science 
- Review common open source tools used in Data Science
- Review simple arithmetic expressions in a Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Scala
5. Java
6. C++

Some of the commonly libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools |
|---|
|JupyterLab|
|R Studio|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply hten add integers
(3*4)+5

17

In [4]:
# This code converts 200 minutes into hours
minutes = 200
hours = minutes / 60
print("Total Hours:",hours)

Total Hours: 3.3333333333333335

## Author
Richard M. Delia